.cirPeque{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 7px;
	padding: 0px;
	margin: 13px 5px 0 0px;
	color: white;
	font-size: 15px;
}

.cir{
	float: left;
	width: 24px;
	height: 24px;
	border-radius: 13px;
	padding: 0px;
	text-align: center;
	margin: 6px 2px 0 10px;
	color: white;
	font-size: 15px;
}

.fondoBlanco{ background-color: white;}
.fondoAzul{ background-color: #3498DB; }
.fondoAmarillo{ background-color: #F1C618; }
.fondoRojo{ background-color: #E74C3C }
.fondoVerde{ background-color: #2ECC71; }
.tex{ float: left; line-height: 36px; }
.texBlanco{ color: white; }
.texAzul{ color: #3498DB; }
.texAmarillo{ color: #F1C618; }
.texRojo{ color: #E74C3C; }

.lineaRdn{
	border-radius: 18px;
	height: 36px;
	width: auto;
	margin: 36px 0px 36px 18px;
	padding: 0 15px 0 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); /*TIPO GOOGLE*/
	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);  TIPO GERA*/
	float: left;
	border-style: none;
}

*{ outline: none; color: #7F8C8D;}

#btn_conf:active{
	transform: rotate(45deg);
	transition: 0.3s all;
}

.border{
	background-color: #ECF0F1;
	border-color: red 1px;
	height: auto;
	margin: 0px;
	padding: 0px;
}

.comboCir{
	height: 36px;
	border-style: none;
}

.cajasValores{
	margin-left: 5px;
	border-style: none;
	height: 36px;
	width: 40px;
	float: left;
}

.centConten{
	display: flex;
	justify-content: center;
	text-align: center;
}
.btnGraph{
	top: 0px;
	position: absolute;
	border-radius: 18px;
	left: calc(100% - 380px);
	height: 36px;
	width: auto;
	margin: 36px 0px 36px 18px;
	padding: 0 15px 0 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background-color: white;
	outline: none;
	border:none;
}
.btnGraph:focus {outline:0;}

/*----------------------------ESTILO-TABLA-----------------------------------*/

table{
	border-spacing: 0;
	border: none;
    border-collapse: collapse;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background-color: white;
}

td, th {
	border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

tr:hover {background-color: rgb(236,240,241);}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    /*background-color: #4CAF50;*/
	border: none;
	color: rgb(63,149,198);
}
.resColumna{
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    /*background-color: #4CAF50;*/
	border: none;
	color:red;
	}
	/*
th{
	box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
} */
